.category{
  .container{
    .btn-div{
      text-align:end;
      margin: 1%;
      .list-view-button{
        margin-left: -0.5%;
      }
      .select-panel{
            margin-left: 1%;
            height: 1.8em;
        }
    }
  .grid-view-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    font-family:verdana;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    .items-grid-row {
      margin-bottom: 2%;
    .mat-card{
      margin-left: 5%;
      width: 95%;
      border: 2px solid #707070;
      .mat-card-title{
        font-weight: bold;
        text-align: center;
      }
      .img-height {
        height: 25vh;
        padding: 5%;
      }
      .mat-card-content{
        .description{
          font-size: small;
        }
      }
    }
  }
  }

  .list-view-box {
    display: flex;
    flex-direction: row;
    font-family:verdana;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    .items-grid-row {
      margin-bottom: 1%;
      height: 170px;
      .mat-card{
        height: 160px;
        border: 2px solid #707070;
        .mat-card-content{
          .description{
            font-size: small;
          }
          .mat-card-title{
            font-weight: bold;
          }
          .img-height-list {
            height: 130px;
          }
        }
        .list-view-desc{
          max-width: 70%;
          margin-left: 40%;
        }
        .img-div{
           float: left;
           max-width: 30%;
           padding: 1%;
        }
      }
    }
  }
 }
}
