<div class="category">
  <div class="container" >
    <div class="row">
      <div class="btn-div">
        <button title="Grid View" (click)="gridViewClicked()" >
          <mat-icon >grid_on</mat-icon>
        </button>
        <button title="List View" (click)="listViewClicked()" class="list-view-button">
          <mat-icon>list</mat-icon>
        </button>
        <select name="price" id="price" class="select-panel"  #mySelect
        (change)="getSortedArray(mySelect.value)">
          <option value="" disabled selected>Select price filter</option>
          <option value="High To Low">Price: High To Low</option>
          <option value="Low To High" >Price: Low To High</option>
        </select>
      </div>
    </div>
    <div *ngIf="view=='grid'" class="grid-view-box" >
      <div class="row" >
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 items-grid-row" *ngFor="let item of items" >
        <mat-card>
          <mat-card-title>{{item.name}}
          </mat-card-title>
          <img mat-card-image src= {{item.imgPath}} alt="Photo of product" class="img-height">
          <mat-card-content matTooltip="Info about the action">
            ₹{{item.price}}
            <p class="description">
              {{item.description}}
            </p>
          </mat-card-content>
        </mat-card>
        </div>
      </div>
    </div>
    <div *ngIf="view=='list'" class="list-view-box" >
      <div class="row" >
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 items-grid-row" *ngFor="let item of items" >
        <mat-card>
          <mat-card-content class="img-div">
          <img mat-card-image src= {{item.imgPath}} alt="Photo of product" class="img-height-list">
          </mat-card-content>
          <mat-card-content class="list-view-desc">
            <mat-card-title>{{item.name}}
            </mat-card-title>
            ₹{{item.price}}
            <p class="description">
              {{item.description}}
            </p>
          </mat-card-content>
        </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

