.category{
  .container{
    .row{
      margin-top: 1% ;
      .btn-div{
      margin-left: 60%;
      width: 40%
      }
      .list-view-button{
        margin-left: -1%;
      }
      .select-panel{
        margin-left: 2%;
      }
    }
  .grid-view-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    font-family:verdana;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    .items-grid-row {
      margin-bottom: 2%;
    .mat-card{
      margin-left: 5%;
      max-width: 240px;
      padding: 2% 8%;
      border: 2px solid #707070;
      .mat-card-title{
        font-weight: bold;
        text-align: center;
      }
      .img-height {
        height: 150px;
        padding-top: 2px;
      }
      .mat-card-content{
        .description{
          font-size: small;
        }
      }
    }
  }
  }

  /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
//   //last
//   .grid-view-box {background: red;}
// }

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
//   //175-200
//   .grid-view-box {background: green;}
// }

/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
//   //125-150
//   .grid-view-box {
//     background: lightseagreen;

//     height: 300px;
//     .items-grid-row {
//       .mat-card{
//         max-width: 200px;
//         padding: 2% 5%;
//         .img-height {
//           height: 110px;
//           width:90%;
//           margin-left: 5%;
//         }
//       }
//     }}
// }

// /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  //100-125
  .grid-view-box {
    height: 380px;
    .items-grid-row {
      .mat-card{
        max-width: 240px;
        padding: 2% 5%;
        .img-height {
          height: 140px;
          width:90%;
          margin-left: 5%;
        }
      }
    }
  }
}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  //till 100%
  .grid-view-box {
    height: 450px;
    .items-grid-row {
    .mat-card{
      width: 215px;
      padding: 2% 8%;
      .img-height {
        height: 140px;
       }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  //till 90%
  .grid-view-box {
    height: 500px;
    .items-grid-row {
    .mat-card{
      width:240px;
      padding: 2% 8%;
      .img-height {
           width: 95%;
            margin-left: 3%;
        }
      }
    }
  }
}
  .list-view-box {
    display: flex;
    flex-direction: row;
    font-family:verdana;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    .items-grid-row {
      margin-bottom: 1%;
      height: 170px;
      .mat-card{
        height: 160px;
        border: 2px solid #707070;
        .mat-card-content{
          .description{
            font-size: small;
          }
          .mat-card-title{
            font-weight: bold;
          }
          .img-height-list {
            height: 130px;
          }
        }
        .list-view-desc{
          max-width: 70%;
          margin-left: 40%;
        }
        .img-div{
           float: left;
           max-width: 30%;
           padding: 1%;
        }
      }
    }
  }
}
}
