
<div class="container" style="border: 1px solid red; overflow: hidden;">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active" role="presentation"
          routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/" class="nav-link">Home </a>
          </li>
          <li class="nav-item" role="presentation"
          routerLinkActive="active">
            <a routerLink="category" class="nav-link">Category</a>
          </li>
          <li class="nav-item" role="presentation"
          routerLinkActive="active">
            <a routerLink="timer" class="nav-link">Timer</a>
          </li>
          <li class="nav-item" role="presentation"
          routerLinkActive="active">
            <a routerLink="counter" class="nav-link">Counter</a>
          </li>
          <li class="nav-item" role="presentation"
          routerLinkActive="active">
            <a routerLink="student" class="nav-link">Student</a>
          </li>
          <li class="nav-item" role="presentation"
          routerLinkActive="active">
            <a routerLink="dynamic" class="nav-link">Dynamic</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="row">
      <router-outlet></router-outlet>
  </div>
</div>
