.dynamic-container{
  .container{
    margin-top: 10px;
    border: 1px solid red;
    overflow-y: scroll;
    .dynamic-div{
      border: 1px solid green;
      width: 200px;
      height: 200px;
      text-align: center;
      padding-top: 80px;
    }
  }
}
