<div class="container">
  <svg viewBox="0 0 800 300">
    <rect
      x=20 y=20
      width="600" height="200"
      style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)"
    />
    <rect
      x=30 y=30
      width="580" height="180"
      style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)"
    />
    <rect
      x=40 y=40
      width="560" height="160"
      style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)"
    />
    <rect
      x=50 y=50
      width="540" height="140"
      style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)"
    />
    <rect
      x=60 y=60
      width="520" height="120"
      style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)"
    />
    <rect
      x=70 y=70
      width="500" height="100"
      style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)"
    />
    <rect
      x=80 y=80
      width="480" height="80"
      style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)"
    />
      <rect x="90" y="90"
      width="460" height="60"
      style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)"></rect>
    <g>
      <animateTransform attributeName="transform" type="rotate"
      values="0 320 120; 45 320 120; 90 320 120; 135 320 120;
      180 320 120; 225 320 120; 270 320 120; 315 320 120"
      dur="8s" calcMode="discrete" repeatCount="indefinite" />
      <text  x="320" y="120" font-size="10px"
      style="fill:rgb(255,255,255);stroke:rgb(0,0,0)">Home
    </text>
    </g>
  </svg>
</div>
